@using MVCSimpleCRM.ViewModels;
@model EditTaskViewModel2


@foreach (var item in Model.TaskPositionUsers)
{
    <div class="card mb-4 box-shadow">
        <div class="row">
            <div class="col-md-12">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-1">
                            <img class="card-img-top" src="https://placehold.co/20x20" alt="UserImage" maxwidth="20" maxheighe="20">
                        </div>
                        <div class="col-md-1">
                            <p class="card-text" style="display: flex; width: 50%; height: 100%; align-items:center; justify-content:center;"><span>&#64;</span>@item.UserName</p>
                        </div>
                        <div class="col-md-9">
                            <p class="card-title" style="display: flex; width: 50%; height: 100%; align-items:center; justify-content:center;">@item.Name @item.Surname</p>
                        </div>
                        <div class="col-md-1">
                            <button type="button" class="btn btn-sm btn-outline-danger" style="width: 100px; float: right; display: flex; height: 100%; align-items:center; justify-content:center;" onclick="RemoveUserFromList('@item.UserName')">Usuń</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}