@using MVCSimpleCRM.ViewModels;
@model EditTaskViewModel

<script type="text/javascript">
    document.addEventListener('readystatechange', event => {
        switch (document.readyState) {
            case "complete":
                const date = new Date();
                
                const dateFrom = document.getElementById("DateFrom");
                const dateTo = document.getElementById("DueDate");

                dateFrom.value = formatDate(date);
                dateTo.value = formatDate(addDays(date, 7));
                break;
        }
    });

    function ChooseUserOnChange(User) {
        document.getElementById('ChoosenUser').value = User;
    }

    function CreatorStatusChange(Status) {
        if (Status == 'UTW')
            document.getElementById('CreatorStatus').value = "UTW";
        else if (Status == 'PRZ')
            document.getElementById('CreatorStatus').value = "PRZ";
        else if (Status == 'WRZ')
            document.getElementById('CreatorStatus').value = "WRZ";
        else if (Status == 'ZAK')
            document.getElementById('CreatorStatus').value = "ZAK";
    }

    function StatusChange(Status) {
        if (Status == 'NZR')
            document.getElementById('Status').value = "NZR";
        else if (Status == 'WRZ')
            document.getElementById('Status').value = "WRZ";
        else if (Status == 'ZAK')
            document.getElementById('Status').value = "ZAK";
    }

    function formatDate(dateToFormat) {
        var result = dateToFormat.getFullYear() + "-"; //+ (dateToFormat.getMonth() + 1) + "-";//+ dateToFormat.getDate();
        if (dateToFormat.getMonth() < 10) {
            result = result + "0" + dateToFormat.getMonth() + "-";
        }
        else {
            result = result + dateToFormat.getMonth() + "-";
        }

        if (dateToFormat.getDate() < 10) {
            result = result + "0" + dateToFormat.getDate();
        }
        else {
            result = result + dateToFormat.getDate();
        }
        return result;
    }

    function addDays(date, days) {
        var result = new Date(date);
        result.setDate(result.getDate() + days);
        return result;
    }

    function openModal(ModalType) {
        if (ModalType == 1) {
            $('#ModalChooseUser').modal('show');
        }
        else if (ModalType == 2) {
            $('#ModalError').modal('show');
        }
        else if (ModalType == 3) {
            $('#ModalSuccess').modal('show');
        }
    }

    function closeModal(ModalType) {

        if (ModalType == 1) {
            $('#ModalChooseUser').modal('hide');
        }
        else if (ModalType == 2) {
            $('#ModalError').modal('hide');
        }
        else if (ModalType == 3) {
            $('#ModalSuccess').modal('hide');
        }
    }
</script>

<form method="post" asp-action="Create">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mx-auto">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <center>
                                    <h3 class="card-title">Nowe zadanie</h3>
                                </center>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <center>
                                    <hr />
                                </center>
                            </div>
                        </div>
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input asp-for="IDUserCreate" hidden="True" readonly="True" class="form-control" value="1">
                        <div class="row">
                            <div class="col-md-10">
                                <center>
                                    <label asp-for="Title">Tytuł</label>
                                </center>
                                <input asp-for="Title" class="form-control" placeholder="Uzupełnij tytuł zadania">
                                <span asp-validation-for="Title" class="text-danger"></span>
                            </div>
                            <div class="col-md-2">
                                <center>
                                    <label asp-for="CreatorStatus">Status tworzącego</label>
                                </center>
                                <div class="input-group col-md-3" style="margin-bottom: 20px">
                                    <input asp-for="CreatorStatus" readonly="True" id="CreatorStatus" class="form-control" value="UTW">
                                    <div class="dropdown m-1 mt-0 mb-0">
                                        <a class="btn btn-secondary dropdown-toggle" style="width: 80px" href="#" role="button" id="DDType" data-bs-toggle="dropdown" aria-expanded="false">
                                            Zmień
                                        </a>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                            <li><a class="dropdown-item" OnClick="CreatorStatusChange('UTW')">UTW - Utworzony</a></li>
                                            <li><a class="dropdown-item" OnClick="CreatorStatusChange('PRZ')">PRZ - Przypisany</a></li>
                                            <li><a class="dropdown-item" OnClick="CreatorStatusChange('WRZ')">WRZ - W realizacji</a></li>
                                            <li><a class="dropdown-item" OnClick="CreatorStatusChange('ZAK')">ZAK - Zakończony</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <span asp-validation-for="CreatorStatus" class="text-danger"></span>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-md-2">
                                <center>
                                    <label asp-for="CreateDate">Data utworzenia</label>
                                </center>
                                <input type="date" asp-for="CreateDate" id="DateFrom" class="form-control" value="2018-07-22" min="2000-01-01" max="2060-12-31">
                                <span asp-validation-for="CreateDate" class="text-danger"></span>
                            </div>
                            <div class="col-md-2">
                                <center>
                                    <label asp-for="DueDate">Termin realizacji</label>
                                </center>
                                <input type="date" asp-for="DueDate" id="DueDate" class="form-control" value="2018-07-22" min="2000-01-01" max="2060-12-31">
                                <span asp-validation-for="DueDate" class="text-danger"></span>
                            </div>
                            <div class="col-md-6">
                            </div>
                            <div class="col-md-2">
                                <center>
                                    <label asp-for="Status">Status pracownika</label>
                                </center>
                                <div class="input-group col-md-3" style="margin-bottom: 20px">
                                    <input asp-for="Status" id="Status" readonly="True" class="form-control" value="NZR">
                                    <div class="dropdown m-1 mt-0 mb-0">
                                        <a class="btn btn-secondary dropdown-toggle" style="width: 80px" href="#" role="button" id="DDType" data-bs-toggle="dropdown" aria-expanded="false">
                                            Zmień
                                        </a>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                            <li><a class="dropdown-item" OnClick="StatusChange('NZR')">NZR - Niezrealizowany</a></li>
                                            <li><a class="dropdown-item" OnClick="StatusChange('WRZ')">WRZ - W realizacji</a></li>
                                            <li><a class="dropdown-item" OnClick="StatusChange('ZAK')">ZAK - Zakończony</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <span asp-validation-for="Status" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <center>
                                    <label asp-for="Description">Opis zadania</label>
                                </center>
                                <textarea asp-for="Description" class="form-control" rows="5" placeholder="Uzupełnij opis zadania"></textarea>
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>
                        </div>



                        <div class="row">
                            <div class="col">
                                <center>
                                    <hr />
                                </center>
                            </div>
                        </div>

                        @foreach (var item in Model.AddedUsersList)
                        {
                            <div class="card mb-4 box-shadow">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-md-1">
                                                    <img class="card-img-top" src="https://placehold.co/20x20" alt="UserImage" maxwidth="20" maxheighe="20">
                                                </div>
                                                <div class="col-md-1">
                                                    <!--<p class="card-text"><span>&#64;</span>USERNAME PLACEHOLDER</p>-->
                                                    <p class="card-text" style="display: flex; width: 50%; height: 100%; align-items:center; justify-content:center;"><span>&#64;</span>TEST</p>
                                                </div>
                                                <div class="col-md-9">
                                                    <!--<p class="card-title" style="font-size:larger;">USERNAME USERSURNAME PLACEHOLDER</p>-->
                                                    <p class="card-title" style="display: flex; width: 50%; height: 100%; align-items:center; justify-content:center;">TEST TEST</p>
                                                </div>
                                                <div class="col-md-1">
                                                    <button type="button" class="btn btn-sm btn-outline-danger" style="width: 100px; float: right; display: flex; height: 100%; align-items:center; justify-content:center;">Usuń</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }

                        <a type="btn" style="padding-right: 10px; height: 100%; display: flex; align-items:center; justify-content:center; margin-top: -20px" class="btn btn-sm btn-outline-secondary" onclick="openModal(1)">Dodaj użytkownika</a>

                        <div class="d-flex" style="padding-top: 20px;">
                            <div class="btn-group" style="margin:0 auto">
                                <button type="submit" class="btn btn-outline-primary">Utwórz</button>
                                <a class="btn btn-outline-secondary" asp-controller="Tasks" asp-action="Index">Anuluj</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- ModalChooseUser -->
    <div class="modal fade" id="ModalChooseUser" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Dodanie użytkownika</h5>
                </div>
                <div class="modal-body">
                    <p>Wybierz użytkownika.</p>
                    <!--<input asp-for="CreatorStatus" readonly="True" id="ChoosenUser" class="form-control" value="Wybierz użytkownika">-->
                    <div class="input-group col-md-3">
                        <input readonly="True" id="ChoosenUser" class="form-control" value="Wybierz użytkownika">
                        <div class="dropdown m-1 mt-0 mb-0">
                            <a class="btn btn-secondary dropdown-toggle" style="width: 80px" href="#" role="button" id="DDType" data-bs-toggle="dropdown" aria-expanded="false">
                                Zmień
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                @foreach (var item in Model.Users)
                                {
                                    <li><a class="dropdown-item" OnClick="ChooseUserOnChange('@item.Name @item.Surname')">@item.Name @item.Surname</a></li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal" onclick="closeModal(1)">Anuluj</button>
                    <button type="button" class="btn btn-outline-primary" data-dismiss="modal" onclick="closeModal(1)">Dodaj</button>

                    @using (Html.BeginForm("AddUserToModel", "TasksController", FormMethod.Post))
                    {
                        <button type="submit">Send</button>
                    }
                    <!--<form action="Delete" method="post">
                        <input type="hidden" asp-for="Id" />
                        <input type="submit" value="Potwierdzam" class="btn btn-outline-danger" />
                    </form>-->
                </div>
            </div>
        </div>
    </div>
</form>
