@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="card">
                <div class="card-body">
                    <!--<div class="row">
                        <div-- class="col">
                            <center>
                                <img width="150px" src="imgs/candles.png">
                            </center>
                        </div>
                    </div>-->

                    <div class="row">
                        <div class="col">
                            <center>
                                <h3 class="card-title">Nowy użytkownika</h3>
                            </center>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <center>
                                <hr />
                            </center>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <center>
                                <label>Login</label>
                            </center>
                            <div class="form-group mb-3">
                                <input type="text" class="form-control" ID="TBLogin" placeholder="Twój login">
                            </div>

                            <center>
                                <label>Imię</label>
                            </center>
                            <div class="form-group mb-3">
                                <input type="text" class="form-control" ID="TBName" placeholder="Twoje imię">
                            </div>

                            <center>
                                <label>Nazwisko</label>
                            </center>
                            <div class="form-group mb-3">
                                <input type="text" class="form-control" ID="TBSurname" placeholder="Twoje nazwisko">
                            </div>

                            <center>
                                <label>Adres email</label>
                            </center>
                            <div class="form-group mb-3">
                                <input type="text" class="form-control" ID="TBEmail" placeholder="Twój email" TextMode="Email">
                            </div>

                            <center>
                                <label>Hasło</label>
                            </center>
                            <div class="form-group mb-3">
                                <input type="text" class="form-control" ID="TBPassword" placeholder="Podaj hasło" TextMode="Password">
                            </div>

                            <center>
                                <label>Powtórz hasło</label>
                            </center>
                            <div class="form-group mb-3">
                                <input type="text" class="form-control" ID="TBRepPassword" placeholder="Powtórz hasło" TextMode="Password">
                            </div>

                            <div class="mb-3 form-check">
                                <input class="form-check-input me-1" type="checkbox" value="" aria-label="HYPERLINK PLACEHOLDER">
                                <input type="checkbox" class="form-check-input" id="CBTaC">
                                <!--<a href="TermsAndConditions.aspx">Akceptacja regulaminu</a>-->
                            </div>

                            <center>
                                <div class="form-group">
                                    <a type="btn" class="btn btn-sm btn-outline-secondary" asp-controller="Users" asp-action="Detail" asp-route-id="">Utwórz</a>
                                    <!--<asp:Button Class="btn d-grid gap-2 btn-primary btn-block btn-lg" style="width: 150px" ID="BtnRegister" runat="server" Text="Utwórz" OnClick="BtnLogin_Click" />-->
                                </div>
                            </center>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="height: 50px;">

    </div>
</div>
